.navbar {
    background: transparent; /* Makes the background transparent */
    backdrop-filter: blur(5px); /* Applies a blur filter */
    padding: 1rem 2rem; /* Adds padding for spacing */
    display: flex; /* Arranges elements horizontally */
    justify-content: space-between; 
    align-items: center; /* Aligns elements vertically */
    background: linear-gradient(90deg, rgb(205, 250, 219) 6%, rgb(246, 253, 195) 44%, rgb(255, 207, 150) 100%);
    border-radius: 25px;
    justify-content: center;
    margin: 3rem;
  }

  .menu{
    display: flex;
  }
  
  .logo {
    height: 50px; /* Adjust logo height as needed */
  }
  
  .nav-links {
    list-style: none; /* Removes default list styling */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
  }
  
  .nav-links li {
    display: inline-block; /* Makes list items inline */
    margin-right: 1rem; /* Adds margin between links */
  }
  
  a {
    color: #000000; /* Sets link color to white */
    text-decoration: none; /* Removes underline from links */
  }
  