*{
    margin: 0;
    padding: 0;
}

.container_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgb(96,150,180);
    background: linear-gradient(90deg, rgba(96,150,180,1) 6%, rgba(147,191,207,1) 23%, rgba(238,233,218,1) 64%);
    margin: 5%;
    border-radius: 5rem;
}



.text-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    flex-direction: column;
}

.btn-for-nutrition-card{
    align-items: center;
    background-color: rgba(219, 219, 143, 0.473);
    border-radius: 24px;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: 0.25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
    width: auto;
    will-change: transform, opacity;
    z-index: 0;
}

.btn-for-nutrition-card:hover {
    box-shadow: 0 15px 12px rgba(0, 0, 0, 0.2);
  }
  
  .btn-for-nutrition-card:focus {
    border: 2px solid grey;
  }


  /* navbar styling for userdashboard */

  .container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .upper-container{
    display: flex;
    justify-content: row;
    
  }


  /* this is for exercise card  */
  .container_card_exercise{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgb(96,150,180);
    background: linear-gradient(90deg, rgba(96,150,180,1) 6%, rgba(147,191,207,1) 23%, rgba(238,233,218,1) 64%);
    margin: 5%;
    border-radius: 5rem;
  }



  /* this is for mental health styling from this we will style for our mental health page  */

  .mh-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5rem 25rem 5rem;
  }

  .mh-card-1, .mh-card-2, .mh-card-3 {
    margin-left: 2rem;
  }

  .mh-mini-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 5rem;
  }

  .mh-mini-card:hover{
    cursor: pointer;
  }

  .mh-mid-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 35rem 0;
  }

  .mh-mid-card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
  }

  .mh-mid-card-text p{
    padding-top: 1rem;
  }

  .mh-main-card-conatainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 5rem 25rem 5rem;
  }

  .mh-main-mini-card-1, .mh-main-mini-card-2, .mh-main-mini-card-3{
    padding-left: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }



  /* from this we will write css for meditation page  */

  .med-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0 18rem 0;
    background-image: url('../images/meditation-bg-image.png');
    background-size: cover; 
    background-position: center; /* Optional: Center the background image */
    height: 100vh;
  }


  .med-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .med-info-text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .med-info-audio-container{
    margin: 20px;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


  .med-info-audio-container audio {
    /* You can also style the audio element within the ReactAudioPlayer */
    width: 100%;
  }