*{
    margin: 0;
    padding: 0;
}

.content-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.article-section{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 10rem; */
}

.p-article-section{
    max-width: 60rem;
    padding: 4rem 3rem 2rem;
}

.p-article-section img{
    overflow: hidden;
    max-width: 100%;
    border-radius: 50px;
}

